{
  "plugins": [
    "transform-flow-strip-types",
    "transform-function-bind",
    "transform-regenerator"
  ],
  "presets": [
    "es2015",
    "stage-0",
    "stage-1",
    "stage-2",
    "stage-3"
  ],
  "sourceMaps": "true",
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
