language: node_js

node_js:
  - '5'

env:
  global:
    - NODE_ENV=CI
    - secure: "Yz9jMdt7bYkrip6S1Xt45d7ebk8sUtSLyHN879F5kAGQsyd8ULWvBF9RFB1G/bspyoWErJA9mXHzO4QYpfVHKJA5HP2V02ewDLxhElRPyXjZB70ucfHW57Wsa2AuPGJYN1bqKxm0cXgptAsjLyLuk9QDZDckWBpYfhmH2HzW+7Abukb5yrUAdIqFNk/ndwlL2MpJHcwbE95pmpaOQYYhvWGBRtSN4mEF3QBD+kBgNxd2Mm46vzWYgtr+/lfJY/OG9nt8oeeRzxg8cLH857FN16ZhU6EYGnF+CBbuO5WfTB0HLj2y/u79vtT4+l3cdavNY/ls/I7pJRXr+ej6keWE5IfTF2xPs4hLCpaKPw4PTxWMDWtu/UWOsSyyUwNwZh5ngmyVNOCs/d+YsTwFHzqSnl05UU1Ct7K64QAxYStN52eUF093rK49KDuG6Ya7889YYDmwcg/OPLUBrYCp+j9waiHqM5sa6syVZ/buWuBz5EtOy0u5ym294L2oYNjNPpUtN8qTBDIZ+RrTfr2rX9koeqjWxeCmVkTLGK5ikSaH4Wh/9alpRAMC4X8gnlmTVRe1hbNlPBqfdvn9WAMWUXy6v6gYuNR+SVQ+vDwkgXcqLTlfQjI/onZKbqZttdj7ls3IL6tzvhIQtBFzvXqueR2kYwNYflrIj1zhSUQsXM7E2Ak="
    - secure: "dhZGGV5sfiqgZVO0gyw7yd0LZPL3OP6D6aInltos7XZWbFQKKfuWv5jDEfHMRN39jddPgiSRPYdVmEvNrwcM9RZvBaa78txoyZay3YzGiHm6XiXjixYAG3xlp2VzBC6hQCzwv8hdDs7/58AlaiYMcvxJBVZhq3vbTN6CUiAgqTE6nKurxBf6z/BFOEZwyQm1yaIuYPxCFzrwDVGbSbGVNlHSatdI1mHUhpPlfIEkDWVzP9BpCN+GxcPwjRtJ/klc1chfIhD1KUjvvYxYI0L+xFUUARHW5Bja36QwojJof/TAJ1rJ+vAYB3KTFF0bUsFYk5KyPrkp0+WADGr+iaNx9OAHvCnLO094MEUkkMQSWYsh2GXjNkCs4SUff583rlkeQOoS2xKxIKo46O42ng77FmY2p4Ira9nU64sAVXTQlSZYvF25BXgUmKSHCy1AVYD0gVwzwI9Pwq18N2sOmfKOpUPh3MKSf9ldvabq1MrTqmcS4aRQXysqcmu0pKWfRLlIXf1YActW83tyUWtfyVe3vIi3+i0HtzeSjcbN+tYFc4a1o9oYKjIq4X5qAu4QTa1Cul6lB1MlIp1yM1UY2eW1GOwz4eDRv8hLQp+BX0yE/oGlog+MH6yAKlsn2dgL2lUPNUozWMCvCFXtG55hJj/MGrOr7/tctbPDhX3Cy/RmPx4="
    - AWS_CLOUDFRONT_DISTRIBUTION=E3019ANYLETHQX

cache:
  directories:
    - node_modules

git:
  depth: 100

before_install:
  - env | sort
  - ./scripts/install-awscli.sh

script:
  - make check
  - make lint
  - make test
  - NODE_ENV=production make package

before_deploy: "echo 'Here we go!'"

deploy:
  provider: s3
  bucket: tldr.ostera.io
  on:
    node: '5'
    repo: ostera/tldr.jsx
  skip_cleanup: true
  local-dir: dist
  acl: public_read
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  access_key_id: $AWS_ACCESS_KEY_ID

after_deploy:
  - ./scripts/invalidate-cdn-cache.sh
