@import "utils"
@import "colors"
@import "fonts"

*
  font-family: Avenir Next
  font-size: 1em

body
  +reset
  background: $background
  color: $text

h1, h2, h3
  +reset

h1
  font-size: 2em
  margin-bottom: 1.1em

h2
  font-size: 1.4em
  margin-bottom: 0.8em

code
  +monospaced

p
  +reset
  padding: 0.5em 0

a
  font-variant: small-caps
  font-size: 1.2em
  text-decoration: none
  color: $link_text

.content
  +reset
  +adaptive("margin-top", 20px, 20px, 60px)
  +adaptive("margin-left", 20px, 60px, 60px)
  width: 80%

#tldr
  @import "debug"
  @import "navigation"
  @import "page"
