@import "utils"
@import "colors"

h1, h2, h3
  +reset

h1
  font-size: 2em
  margin-bottom: 1.1em

h2
  font-size: 1.4em
  margin-bottom: 0.8em

code
  +monospaced

p
  +reset
  padding: 0.5em 0

a
  font-variant: small-caps
  font-size: 1.2em
  text-decoration: none
  color: $link_text

.content
  +reset
  margin-top:  60px
  margin-left: 60px
  width: 80%

.command
  blockquote, ul, li, code, p
    +reset

  blockquote
    font-size: 1.2em
    margin-bottom: 30px

  li
    list-style: none

  code
    +monospaced
    display: inline-block
    font-size: 1em
    margin-top: 15px
    margin-bottom: 35px
