#search-bar
  font-size: 4em

  @media only screen and (orientation: landscape)
    font-size: 2em


  @media only screen and (min-device-width: 1024px) and (min-device-height: 728px)
    font-size: 1em


  input, input:focus 
    border: none
    outline: none
